@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body,html {         /* Fixes issue of scrollbar appearing */
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.sidebar-left a {
    font-weight: bold;
    font-size: 16px;
    color: white;
}
.trending a {
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}
    .sidebar-left {
        grid-row: 1/5;
        display: grid;
        grid-template-rows: 2fr repeat(6, 1fr) 2fr repeat(3, 1fr);

        background-color: rgb(25,146,212);
        color: white;
    }
        #dashboard-logo {
            padding: 15px 10px 0 15px;
        }
        #dashboard-logo > a {
            padding-left: 10px;
            font-size: 26px;
        }
        .material-icons {
            justify-self: start;
            align-self: center;

        }
    .banner-container {
        display: grid;
        grid-template-rows: 1fr 2fr;
    }
        .banner1 {
            display: grid;
            grid-template-columns: 80px 6fr 1fr 1fr 2fr;
            gap: 10px;
        }
            #search-button, #notifications, #yoda-img1, .user-name, .search-bar {
                align-self: center;
            }
            #search-button, #notifications {
                justify-self: end;
            }
            #yoda-img1 {
                justify-self: center;

                border-radius: 50%;
                height: 50px;
                width: auto;
            }
            .user-name {
                justify-self: start;
            }
            .search-bar {
                background-color: rgb(226,232,240);
                border-radius: 10px;
                height: 30px;
            }
        .banner2 {
            display: grid;
            grid-template-columns: 1fr 4fr repeat(3, 1fr);
        }
            #yoda-img2 {
                align-self: center;
                justify-self: center;

                border-radius: 50%;
                height: 100px;
                width: auto;
            }
            .greeting-container {
                display: grid;
                grid-template-rows: 1fr 2fr;

                font-weight: bold;
            }
                .greeting {
                    align-self: end;

                    font-size: 12px;
                }
                .user-name2 {
                    align-self: start;

                    font-size: 20px;
                }
            button {
                align-self: center;
                justify-self: center;

                padding: 10px 30px 10px 30px;

                /* Removing default button effects */
                border-color: #fff;
                border-style: solid;
                /* Adding new effects */
                background-color: rgb(25,146,212);
                color: white;
                border-radius: 20px;
                font-weight: bold;
            }

/* Dashboard & Announcements*/
    .dashboard-sidebar-container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 5fr 1fr 5fr;
        gap: 20px;

        padding: 10px;
        padding: 20px 30px 20px 20px;

        background-color: rgb(226,232,240);
    }
        .your-project, .announcements-title, .trending-title {
            display: grid;
            align-content: end;

            font-weight: bold;
            font-size: 20px;
        }
        .your-project {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .dashboard {
            grid-row: 2/5;
            grid-column: 1/2;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 15px;

            /* padding: 20px 20px 0 20px; */
        }
            .cards {
                padding: 30px;

                background-color: white;
                box-shadow: 3px 7px rgb(207,213,220);
                border-radius: 10px;
            }

        .announcements-title, .trending-title {
            font-weight: bold;
        }
        .announcement, .trending {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;

            padding: 30px;

            font-size: 12px;
            background-color: white;
            box-shadow: 3px 7px rgb(207,213,220);
            border-radius: 10px;
        }
            .specific-announcement, .user {
                border-bottom: 1px solid rgb(210,210,210);
            }
            #last {
                border-bottom: none;
            }

        .announcements-title {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .announcement {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .trending-title {
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .trending {
            grid-column: 2/3;
            grid-row: 4/5;
        }